<h1 class="title">Beer App</h1>

<h2 class="title-text">Find breweries and beers in your area.</h2>
<br>
<h2 class="title-text">Search, rate, wishlist all the brews.</h2>

<div id="map"></div>

<div class="brewSearch">
  <form class="brew-form">
    <label for="b">Find Brews:</label>
    <input id="brewery" type="text" name="b" placeholder="Beers await..">
    <button type="submit" class="submit">Search</button>
  </form>
</div>