
<section id="landing">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="display-4 text-center">Beer App</h1>
                <p class="lead text-center">Have you used our Map lately to find tasty hops? Get started with our rating app today.</p>
                <hr class="my-4">
                <p class="text-center">Make an account today to start searching beers and breweries in SD.</p>
                <div id="button-div">
                <a id="sign-up" href="/signup">Sign Up</a>
                <a id="sign-in" href="/signin">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</section>