body {
    width: 100%; 
}
.title, .title-text, .brewSearch {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

#map {
    height: 600px;
    width: 75%;
    border: 3px solid black;
    margin: 50px auto; 
}

.info {
    color: black;
  }

  #wishlist-button {
      display: block; 
      margin-top: 10px;
  }
  

/* Landing Page Styles */
#landing .col-lg-12 {
    color: white;
    padding-top: 60px;
}

#landing .col-lg-12 a {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 15px; 
    color:white;
    margin: 10px;
}

#landing .col-lg-12 a:hover {
    color: black;
    background: white;
}

#button-div {
    width: 20%;
    margin: 0 auto; 
    margin-top: 40px;
}

#landing .col-lg-12 hr {
    border: 1px solid white; 
}
/* ---------------------------- */
.title-bar{
    color: white; 
    padding-top: 60px; 
}

/* Sign Up Page */
#sign-up-form {
    color: white; 
    padding-top: 60px; 
    width: 75%;
    margin: 0 auto;
}

#sign-up-form .btn {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 15px; 
    color: white;
    margin: 10px;
    background: none; 
}

#sign-up-form .btn:hover {
    color: black; 
    background: white; 
}
/* ---------------------------- */

/* Sign In Page */
#sign-in-form {
    color: white;
    padding-top: 60px;
    width: 60%; 
    margin: 0 auto;
    border-radius: 20px; 
}
#sign-in-form .btn {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 15px; 
    color: white;
    margin: 10px;
    background: none
}

#sign-in-form .btn:hover {
    color: black;
    background: white; 
}

/* ---------------------------- */
/* DASHBOARD */

#search-bar {
    height: 50px;
    font-size: 30px
}

#radioButtons {
    float: left;
    font-size: 16px;
    margin-right: 20px;
}

.input-group {
    width: 90%
}

#search-submit {
    height: 50px;
    width: 200%
}


#access-body {
    background: url("../img/bar.jpg");
    background-size: cover; 
    width: 100%;
    overflow: hidden; 
}