.title, .title-text, .brewSearch {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

#map {
    height: 600px;
    width: 100%;
    border: 3px solid black;
    margin: 50px auto; 
}

.info {
    color: black;
  }

  #wishlist-button {
      display: block; 
      margin-top: 10px;
  }
  

/* Landing Page Styles */
#landing .col-lg-12 a {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 15px; 
    color:black;
    margin: 10px;
    background: white;
}

#button-div {
    width: 20%;
    margin: 0 auto; 
    margin-top: 40px;
}
/* ---------------------------- */

/* Sign Up Page */

#sign-up-form .btn {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 15px; 
    color: black;
    margin: 10px;
}
/* ---------------------------- */

/* Sign In Page */
#sign-in-form .btn {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 15px; 
    color: black;
    margin: 10px;
}
/* ---------------------------- */
/* DASHBOARD */

#search-bar {
    height: 100px;
}

#radioButtons {
    float: left;
    padding-top: 23px;
    font-size: 20px
}

.input-group {
    width: 90%
}

#search-submit {
    height: 100px;
    width: 200%
}